.Categories{
    height: 30px; 
    object-fit: contain;
    margin-left: 80px;
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
   line-height: 100;
    
  
    
}
.Categories > img{
    background-image: cross-fade(0);
}