.testing {
    background-color: rgb(255, 255, 255);
    color: black !important;
    padding: 5rem 2rem ;
}

.testing .row {
width: 90vw;
display: grid;
gap: 2rem;
max-width: 1170px;
}
.testing .btn{
    margin: 1rem;
}

@media screen and (min-width:768px ){
  .testing  .row{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* .col {

} */