.Header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    margin-top: 25px;
    
}
.Header-icon{
    display: flex;
    height: 30px; 
    object-fit: contain;
   align-items: center;
   justify-content: center;
    
}
.Header-search{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid lightgray;
    justify-content: center;
    
  

}
.Header-search > input{
    display: flex;
    outline: none;
    border:none;
    
}
.Header-right{
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns:repeat(4,1fr);

}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* width: 75%; */

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* width: 50%; */
}